.ant-menu {
  color: #fff !important;
  background-color: #f08220 !important;
  border-radius: 12px !important;
  border: none !important;
}

.ant-btn {
  background-color: #f08220 !important;
  color: #fff !important;
}

.ant-menu-item {
  padding: 0 10px !important;
}

.ant-checkbox-checked,
.ant-checkbox,
.ant-checkbox-input {
  accent-color: #f08220 !important;
}
